version: '3.8'

services:
  caddy:
    volumes:
      - ./Caddyfile.local:/etc/caddy/Caddyfile

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile
    environment:
      - NEXT_PUBLIC_SUPABASE_URL=${SUPABASE_URL}
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY}

  worker:
    build:
      context: .
      dockerfile: ./apps/worker/Dockerfile
